.update_container {
  padding-top: 50px;
}

.update_container_content {
  height: 600px;
}

.update_container_left {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-right: 1px solid rgb(199, 199, 199);
}

.update_profile_img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgb(159, 159, 159);
}

.update_container_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update_profile_fullname {
  font-size: 18px;
  margin-top: 10px;
  font-weight: normal;
}

/*update personal information*/
.update_box {
  margin: 0 auto;
  height: 550px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  flex-direction: column;
}

.update_content {
  width: 100%;
}

.update_input {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#update_date_custom {
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.23);
  width: 223px;
  height: 56px;
  text-align: center;
  color: gray;
}

.update_date_tittle {
  position: absolute;
  font-size: 12px;
  align-items: center;
}

.update_buttons {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.update_cancel_link {
  text-decoration: none;
}

/* update access info */

.update_user_box {
  margin: 0 auto;
  width: 400px;
  height: 270px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*Update photo*/

.update_photo_box {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.update_photo_img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}